<nav>
  <div class="nav-center">
    <!-- nav header -->
    <div class="nav-header">
      <%= link_to root_path do %>
        <% image_tag "favicon.ico", class: "logo"%>
      <% end %>
      <button class="nav-toggle">
        <i class="fas fa-bars"></i>
      </button>
    </div>

    <span>Profile</span>
    <div>
      <%= image_tag current_user.gravatar_url, class: "gravatar avatar" %>
    </div>
  </div>
</nav>




