<h1>Pages#home</h1>
<%# 
https://images.unsplash.com/photo-1641391503184-a2131018701b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80 %>

<% if user_signed_in? %>
    <%= current_user.email %>
<% end %>