<div class="profile-container">
    <div class="avatar-large">
        <%= image_tag current_user.gravatar_url, class: "gravatar avatar-large" %>
    </div>
    <div class="profile-info">
        <div class="full-name">
            <%= current_user.first_name %>
            <%= current_user.last_name %>
        </div>
        <div>
            <%= current_user.email %>
        </div>
    </div>
</div>