<div class="profile-container">
    <div class="avatar-large">
        <%= image_tag current_user.gravatar_url, class: "gravatar avatar-large" %>
    </div>
    <div class="profile-info">
        <h4>Name</h4>
        <div class="full-name">
            <p><%= current_user.first_name %>
            <%= current_user.last_name %></p>
        </div>
        <div>
            <h4>Email address</h4>
            <p><%= current_user.email %></p>
        </div>
        <button class="btn-large">Edit Settings</button>
    </div>
</div>